.vscode
app/vendor
public_html/node_modules
public_html/vendor
public_html/images
app/.env
intrucciones.txt
public_html/img/entrenamiento
public_html/img/plagas
public_html/.cometml-runs
public_html/entrenamiento
public_html/datos_entrenamiento
public_html/json
public_html/modelo_entrenado
public_html/runs
codigo_sueltos.txt
public_html/log